.new-post-page
  label
    display block
    margin-top 15px

  .input, .Select
    width 100%
    max-width 400px

  .markdown-input
    height 350px
    width 90%

  input
    margin 0

  button
    margin 45px 0 15px
