# Sample configuration for environment variables in local development

# For GitHub integration
export GITHUB_CLIENT_ID=
export GITHUB_CLIENT_SECRET=

# Defines which port backend runs on
export PORT=9000

# Database connection string
export DATABASE_URL=mongodb://localhost:27017/designopen_board

# Long secret key for sessions, for local dev, just input random ascii secret
export SESSION_SECRET=

export PS1="[board] $PS1"
echo "Environment variables set!"
