.footer
  padding 40px 0
  background #f6f6f6

  .footer-right
    p
      margin: 0

@media (min-width: 550px)
  .footer-right
    text-align right

    p
      float right
      max-width 250px

  p
    margin 0
