header
  background #f2f2f2
  border-style solid
  border-color #e6e6e6

  h1
    font-weight 700
    color #cf4
    text-transform uppercase

  span
    display table
    margin 0 auto
    text-align center

  span:first-child
    font-size 36px
    color #3d3d3d

  span:last-child 
    font-size 30px
    color #f2f2f2
    background #3d3d3d

/*
.header h5
  max-width 210px
  margin 0 auto
  padding 20px 0
*/
