$active-link-color = white;
$inactive-link-color = #999;

uppercase() {
  letter-spacing: .08rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

vertical-center() {
  position relative
  top 50%
  transform translateY(-50%)
}

.menu-bar
  height $menu-bar-size
  background #333

  .container
    height 100%

  .navbar-item, .container > .logo, .container > .separator, .container > .product-name
    vertical-center()

  .logo
    float left
    height 45px

    a
      display block
      height 100%

      &.active
        svg g
          //fill $active-link-color

    svg
      height 100%
      g
        fill $active-link-color

  .separator
    float left
    display block
    margin 0 15px 0 15px
    height 33px
    width 1px
    background #666
    hidden()

  .product-name
    hidden()
    float left
    uppercase()
    line-height: 15px;

  @media (min-width: $breakpoint-phablet)
    .separator, .product-name
      visible()

  .navbar-list
    float right
    height 100%

  .navbar-item
    float left

    &:not(:first-child)
      margin 0 0 0 10px

    > a
      uppercase()
      font-size: 0.7rem

    @media (min-width: $breakpoint-mobile)
      &:not(:first-child)
        margin 0 0 0 20px

      > a
        font-size: 0.8rem

  .avatar-small
    cursor pointer
    margin-left 10px
    border-radius 50%
    height 35px
    width 35px
    box-shadow 0 0 0 4px #333,0 0 0 7px #4e4d4d

    &:hover
      box-shadow 0 0 0 4px #333,0 0 0 7px #666

  > ul
    li
      /* Hack to keep items centered vertically */
      line-height 0.1em

  a
    color $inactive-link-color

    &:visited
      color $inactive-link-color

    &:hover
      color $active-link-color

    &.active
      color $active-link-color

