.post-card
  border-bottom 1px solid #e6e6e6
  position relative

  .date
    position absolute
    bottom 5px
    right 0
    font-size $font-size-normal
    font-weight 600
    color $light-color

  .post-card-header
    font-size $font-size-x-large  
