/*
All rules related to typography.
*/

$font-size-xxxx-large = 4.0rem;
$font-size-xxx-large = 3.6rem;
$font-size-xx-large = 2.4rem;
$font-size-x-large = 1.8rem;
$font-size-large = 1.5rem;
$font-size-normal = 1.0rem;
$font-size-small = 0.9rem;
$font-size-x-small = 0.8rem;
$font-size-xx-small = 0.707rem;

html, body
  font-family 'Source Sans Pro', sans-serif
  font-size 16px
  font-weight 400
  color #222
  line-height: 1.45;
