/*
All rules related to typography.

Font sizes from type-scale.com
Scale: 1.414, Augmented Fourth
*/
$font-size-xxx-large = 3.998rem;
$font-size-xx-large = 2.827rem;
$font-size-x-large = 1.999rem;
$font-size-large = 1.414rem;
$font-size-normal = 1rem;
$font-size-small = 0.9rem;
$font-size-x-small = 0.8rem;
$font-size-xx-small = 0.707rem;

html, body
  font-family 'Source Sans Pro', sans-serif
  font-size 16px
  font-weight 400
  color #222
  line-height: 1.45;

h1, h2, h3, h4
  margin 1.414rem 0 0.5rem
  font-weight inherit
  line-height 1.2

h1
  margin-top 0
  font-size $font-size-xxx-large

h2
  font-size $font-size-xx-large

h3
  font-size $font-size-x-large

h4
  font-size $font-size-large

small, .font_small
  font-size $font-size-small
