body, html, .app, .app > *
  width 100%
  margin 0
  padding 0

body, html, .app
  height 100%
  display block

.top-corner
  position absolute
  z-index 1000
  top 10px
  left 10px

ul
  list-style none
