body, html, .app, .app > *
  width 100%
  margin 0
  padding 0

body, html, .app
  height 100%
  display block

.top-corner
  position fixed
  z-index 1000
  top 10px
  left 10px

ul
  list-style none


/*
Set box sizing for all elements
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
