/*
Rules related to page layout. These rules
define where for example page content, .menu-bar and .footer are.
*/

.app > *
  display flex
  min-height 100%
  flex-direction column

.page
  height 100%
  flex 1

  .page-content
    padding 30px 0 80px 0

.menu-bar
  height 200px
  width 100%
  background #eee

.footer
  width 100%
  background #eee


