default-link()
  text-decoration none
  color $link-color
  cursor pointer

  &:visited
    color $link-color

  &:hover
    color $link-color


a {
  default-link()
}

.link-animated
  position relative

  &:hover
    &:after
      width 98%

  &:after
    margin-left 2px
    transition width 350ms cubic-bezier(0.3, 0, 0, 1.3)
    height 1px
    width: 0px
    background $link-color
    content ''
    position absolute
    bottom -2px
    left 0
